$color-primary: #26A69A;
$color-primary-hover: #3c8c84;
$color-secondary: #e8951e;
$color-secondary-hover: #cf9544;
$color-dark: #212121;
$color-dark-hover: #141414;
$color-light: #ffffff;
$color-light-hover: #f5f5f5;
$color-mid: #999999;
$color-mid-hover: #8f7272;
$color-mid-dark: #555555;
$color-mid-light: #dddddd;
$color-success: #3cc196;
$color-success-hover: #2b8567;
$color-error: #a6262c;
$color-error-hover: #7d1a1e;
$color-warning: #e8951e;
$color-warning-hover: #8f5a0f;



$font-text: Roboto, Helvetica, sans-serif;
$font-header: Roboto, Helvetica, sans-serif;
$font-size-xs: 10px;
$font-size-s: 12px;
$font-size-m: 14px;
$font-size-l: 16px;
$font-size-xl: 18px;
$font-size-xxl: 20px;




$hover-delay:0.5s;

//for tablets
//for mobile
